@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #fffdf7;
    --color-black:  #212121;
    --color-black-heavy: #000000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #E433A0;
    --color-secondary: #d9ccf8;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}


html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}

.color-primary {
    color: var(--color-primary);
}

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}



.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
}

.text-banner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-icon-left {
    padding-left: 70px;
}

.btn-social {
    width: 50px;
}

.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: #543e6f;
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner img {
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}


footer {
    background-color: var(--color-secondary);
}

.logo-footer {
    width: 150px;
}

.container-logo-footer, .container-texto-footer, .container-redes-footer {
    display: flex;
    align-items: center;
}

.container-logo-footer {
    justify-content: start;
}

.container-texto-footer {
    justify-content: center;
}

.container-redes-footer {
    justify-content: end;
}

